{% block content%}
{% load static %}
<li id="page_Contact">
								<div class="box1">
									<div class="inner">
										<a href="#" class="close" data-type="close"><span></span></a>
										<h2>Contact Info</h2>
										<ul class="list2 pad_bot1">
									    <li><a href='#'> <i class="bi bi-geo-alt-fill"></i>  Ukraine. Kiev.</a></li>
											<li><a href='#'><i class="bi bi-cursor-fill"></i>  leetattar@i.ua</a></li>
										<li><a href='#'><i class="bi bi-phone"></i>  +38 (098) 1000 544</a></li>
										<li><a href=https://instagram.com/lee_tattar/"  target="_blank"><i class="bi bi-instagram"></i>  Me on Instagram</a></li>
										<li><a href="https://www.patreon.com/leetattar" target="_blank"><i class="bi bi-file-ppt-fill"></i>  Me on Patreon</a></li>
											<li><a href="https://www.facebook.com/leetattar" target="_blank"><i class="bi bi-facebook"></i>  Me on Facebook</a></li>
											<li><a href="https://onlyfans.com/leetattar" target="_blank"><i class="bi bi-lock-fill"></i>  Me on Onlyfans</a></li>
											<li><a href="https://twitter.com/leetattar" target="_blank"><i class="bi bi-twitter"></i>  Me on Twitter</a></li>
</ul>

										</div>

									</div>
								</div>

</li>



{%endblock%}